extends layout

block content
  h1= title  
  p Bienvenido to #{title}
  p 1. tipo economico 2. tipo empresarial
  input(type="text" id="prueba" name="prueba" value=info)
  br
  input(type="text" id="tipo_b" name="tipo_b")
  input(type="submit" id="boton" value="ingresar", Onclick="pontar()")
  label(id="lb1")
  script.
     var text1 = document.getElementById("prueba").value;
     var vector=text1.split(",");
     var buses=(vector.length)/2;
     var myTable="<table><tr><td style='width: 100px; color: black;'>ID DE BUS "+buses+"</td>";
     myTable+= "<td style='width: 100px; color: black; text-align: right;'>TIPO</td></tr>";    
        for(var i=0;i<vector.length-1;i++){
            try{
            myTable+="<tr><td style='width: 50px;'>" + vector[i] + " </td>";
            myTable+="<td style='width: 100px; text-align: right;'>" + vector[i+1] + "</td>";
            i=i+1;
            myTable+="<td style='width: 100px; text-align: right;'></td></tr>";
             }catch(e){}
            }
     myTable+="</table>";
     var t = document.getElementById('lb1');
     t.innerHTML = myTable;
     function pontar(){
        var tipo1 = document.getElementById("tipo_b").value;
        if((tipo1==1)||(tipo1==2)){
            insertarb();
        }else{
            
        }
     }