extends layout

block content
  h1= title  
  p Bienvenido to #{title}
  p Area de viajes
  input(type="text" id="prueba" name="prueba" value=info)
  br
  label(id="lb1")
    script.
     var text1 = document.getElementById("prueba").value;
     var vector=text1.split(",");
     var myTable="<table><tr><td style='width: 100px; color: black; text-align: right;'>    Nombre   </td>";
     myTable+="<td style='width: 100px; color: black; text-align: right;'>   Factura   </td>";
     myTable+="<td style='width: 100px; color: black; text-align: right;'>   Viajes   </td>";
     myTable+="<td style='width: 100px; color: black; text-align: right;'>   Precio   </td></tr>";    
        for(var i=0;i<vector.length-1;i++){
            try{
            myTable+="<tr><td style='width: 100px; text-align: right;'>" + vector[i] + " </td>";
            myTable+="<td style='width: 100px; text-align: right;'>  " + vector[i+1] + "  </td>";
            myTable+="<td style='width: 100px; text-align: right;'>  " + vector[i+2] + "  </td>";
            myTable+="<td style='width: 100px; text-align: right;'>  " + vector[i+3] + "  </td></tr>";
            i=i+3;
             }catch(e){}
             }
     myTable+="</table>";
     var t = document.getElementById('lb1');
     t.innerHTML = myTable;